@font-face {
  font-family: "Graphik";
  src: url('/style/fonts/Graphik/regular/Graphik-Regular.eot');
  src: url('/style/fonts/Graphik/regular/Graphik-Regular.woff') format('woff');
  src: url('/style/fonts/Graphik/regular/Graphik-Regular.woff2') format('woff2');
  src: url('/style/fonts/Graphik/regular/Graphik-Regular.ttf')  format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Graphik";
  src: url('/style/fonts/Graphik/medium/Graphik-Medium.eot');
  src: url('/style/fonts/Graphik/medium/Graphik-Medium.woff') format('woff');
  src: url('/style/fonts/Graphik/medium/Graphik-Medium.woff2') format('woff2');
  src: url('/style/fonts/Graphik/medium/Graphik-Medium.ttf')  format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Graphik";
  src: url('/style/fonts/Graphik/semibold/Graphik-Semibold.eot');
  src: url('/style/fonts/Graphik/semibold/Graphik-Semibold.woff') format('woff');
  src: url('/style/fonts/Graphik/semibold/Graphik-Semibold.woff2') format('woff2');
  src: url('/style/fonts/Graphik/semibold/Graphik-Semibold.ttf')  format('truetype');
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: "Graphik";
  src: url('/style/fonts/Graphik/bold/Graphik-Bold.eot');
  src: url('/style/fonts/Graphik/bold/Graphik-Bold.woff') format('woff');
  src: url('/style/fonts/Graphik/bold/Graphik-Bold.woff2') format('woff2');
  src: url('/style/fonts/Graphik/bold/Graphik-Bold.ttf')  format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
