@import "style/fonts";
@import "style/template";

$color-gray-900: #111827;
$color-gray-800: #1F2937;
$color-gray-500: #6B7280;
$color-gray-300: #D1D5DB;
$color-yellow-500: #F59E0B;
$color-olive: #64A315;
$color-grass: #6BA91A;

body {
  display: flex;
  flex-direction: column;
  background: #E5E5E5;
  font: 16px 'Graphik', sans-serif;
}

.wrapper {
  width: 320px;
  margin: 0 auto;
  box-shadow: $color-gray-900 0 0 3px 1px;
  user-select: none;
}

.link {
  @extend .H4;
  cursor: pointer;
}

.icon {
  font-family: 'Font Awesome 6 Pro';
  color: #FFFFFF;
  font-size: 16px;
  line-height: 20px;
}

.slider {
  position: relative;
}

.section {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 0 8px;
  margin-top: 24px;
  overflow: hidden;

  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
}

.title {
  @extend .H2;
  color: $color-gray-900;
}

.logo {
  width: auto;
  height: auto;
}

.header {
  @extend .section;
  flex-direction: column;
  height: 100%;
  background: $color-gray-900;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;

  &__visible-section {
    width: 100%;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.menu {
  transition: 0.5s;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-content: center;

  &__login-button {
    display: flex;
    cursor: pointer;
    width: 100%;
    background-color: $color-gray-800;
    color: white;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 10px;
    gap: 8px;
    border: 0;
  }

  &__item {
    @extend .menu-text;
    cursor: pointer;
    padding: 20px 4px;
    display: flex;
    justify-content: left;
    color: #FFFFFF;

    &:nth-of-type(n+2) {
      border-top: $color-gray-300 1px solid;
    }
  }
}

.toolbar {
  display: flex;
  width: 128px;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  padding: 12px 12px 12px 8px;

  &__language {
    color: #FFFFFF;
    font-weight: 500;
    line-height: 18px;
    cursor: pointer;
  }

  &__icon {
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
    cursor: pointer;
  }
}

.footer {
  @extend .section;
  padding: 16px 16px 24px 16px;
  background: $color-gray-900;
  justify-content: space-between;
  margin-top: auto;

  &__text {
    display: flex;
    color: $color-gray-500;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    margin-left: 16px;
    width: 224px;
  }

  &__age-limit {
    display: flex;
    flex-shrink: 0;
    width: 48px;
    height: 48px;
    border: 2px solid $color-gray-500;
    box-sizing: border-box;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    color: $color-gray-500;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
  }
}

.recommendations {
  flex-direction: column;

  &__cards {
    display: flex;
    margin-top: 16px;
  }

  &__card {
    width: 128px;

    &:nth-of-type(n+2) {
      margin-left: 16px;
    }
  }

  &__img {
    display: flex;
    width: 128px;
    height: 80px;
    background: #FFFFFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    border-radius: 8px;
    align-items: center;
    justify-content: center;
  }

  &__name {
    @extend .H4;
    color: $color-gray-900;
    text-align: center;
    margin-top: 8px;
  }
}

.banner {
  background: linear-gradient(180deg, #CBD623 0%, #41701E 100%);
  border-radius: 8px;
  padding: 8px 15px;
  display: flex;
  flex-direction: row;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    @extend .H3;
    color: #FFFFFF;
  }

  &__text {
    @extend .T2;
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.5);
  }

  &__img {
    width: 50px;
  }
}

.plants {
  flex-direction: column;

  &__link {
    @extend .link;
    color: $color-grass;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
  }

  &__card {
    margin-top: 16px;

    &:nth-of-type(2n) {
      margin-left: 16px;
    }
  }
}

.plants-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 144px;
  height: 201px;
  box-shadow: 0 2px 4px rgba(17, 24, 39, 0.08);
  background: $color-gray-900;
  border-radius: 8px;

  &__img {
    display: flex;
    height: 88px;
    align-items: center;
    justify-content: center;
  }

  &__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    flex-grow: 1;
    padding: 0 8px 8px 8px;
  }

  &__rating {
    display: flex;
    width: 44px;
    position: relative;
    top: -8px;
    background: $color-yellow-500;
    padding: 2px 4px;
    border-radius: 2px;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
  }

  &__title {
    @extend .H4;
    color: $color-gray-900;
  }

  &__button {
    @extend .button;
    margin-top: auto;
    color: $color-grass;
    background: #E2FEDB;
  }
}

.plant-care {
  flex-direction: column;

  &__link {
    @extend .link;
    color: $color-grass;
  }

  &__cards {
    display: flex;
  }

  &__card {
    margin-top: 16px;

    &:nth-of-type(n+2) {
      margin-left: 16px;
    }
  }
}

.plant-care-card {
  display: flex;
  width: 240px;
  flex-direction: column;
  background: #FFFFFF;
  box-shadow: 0 2px 4px rgba(17, 24, 39, 0.08);
  border-radius: 8px;
  padding: 8px;
  flex-shrink: 0;

  &__img {
    width: 224px;
    height: 124px;
    border-radius: 4px;
  }

  &__subtitle {
    @extend .T4;
    color: $color-olive;
    margin-top: 8px;
  }

  &__title {
    @extend .H5;
    color: $color-gray-900;
    margin-bottom: 8px;
  }

  &__button {
    @extend .button;
    margin-top: auto;
    background: $color-olive;
    color: #FFFFFF;
  }
}

.news {
  flex-direction: column;
  margin-bottom: 24px;

  &__link {
    @extend .link;
    color: #2563EB;
  }

  &__article {
    margin-top: 16px;
  }
}

.news-article {
  &__img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    border-radius: 8px;
  }

  &__title {
    margin-top: 8px;
    @extend .H3;
    color: $color-gray-900;
  }

  &__info {
    display: flex;
    align-items: center;
    margin-top: 4px;
    @extend .T2;
    color: $color-gray-500;
  }

  &__date {
    margin-right: 8px;
  }

  &__views {
    margin-left: 2px;
  }
}
