.H2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.H3{
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

.menu-text{
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
}

.H4 {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.H5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
}

.T2{
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.T4{
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}
.button{
  display: flex;
  width: 100%;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
